<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Qa Minds Youtube">
    <test verbose="2" preserve-order="true" name="Youtube - Left Menu">
        <classes>
            <class name="youtube.TestLeftMenu">
                <methods>
                    <include name="pageTitle"/>
                    <include name="leftMenuHome"/>
                    <include name="leftMenuTrending"/>
                    <include name="leftMenuSubscriptions"/>
                    <include name="leftMenuLibrary"/>
                    <include name="leftMenuHistory"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>